{% extends('RaysWebBundle::layout.html.twig') %}
{% block title %}{% endblock %}

{% block stylesheets %}
{{include('RaysWebBundle:widget:comm.css.html.twig')}}
{% endblock %}

{% block javascripts %}
{{include('RaysWebBundle:widget:comm.js.html.twig')}}
{% endblock %}

{% block body %}
{{ include('RaysWebBundle:widget:header.html.twig') }}
{{ include('RaysWebBundle:widget:mode.account.html.twig') }}
<!--Begin Content-->
<div class="content_bg">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="pheader">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="pcontent">
                    <div class="table-header">Results for "Latest Registered Domains"</div>
                    {{include('RaysWebBundle:widget:datatable.html.twig')}}
                    {{
                        datatable({
                            'edit_route' : 'company_edit',
                            'delete_route' : 'company_del',
                            'js' : {
                                'sAjaxSource' : path('company_grid')
                            }
                        })
                    }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}

{% endblock %}